.searchBarContainer {
  font-family: Flexo-Regular, arial, sans-serif;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.searchBarContainerTitle {
  color: #919191;
  margin: 30px 0;
  font-size: 2rem;
  padding-left: 10px;
}

.searchContainer {
  background: #313131;
  width: 100%;
  color: #fff;
  display: flex;
  height: 220px;
  justify-content: space-between;
}
.searchColumnOne {
  width: 45%;
}
.searchColumnOne h2 {
  padding: 20px 10px;
}

.searchColumnOne p {
  padding-left: 10px;
  font-weight: bold;
}
.inputsContainer {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}

.inputsContainer input {
  height: 50px;
  border-radius: 5px;
  margin: 0 30px 0 10px;
  width: 350px;
}
.searchButton {
  width: 60px;
  height: 51px;
  background: #ee6b2f;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.searchButton:hover {
  cursor: pointer;
  opacity: 0.7;
}
.searchColumnTwo {
  width: 45%;
}

.searchColumnTwo p {
  background: #4dad5b;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  height: 50%;
  border-radius: 5px;
  width: 95%;
  display: grid;
  place-items: center;
  text-align: center;
}

.advancedSearch {
  background: #616161;
  color: #fff;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advancedSearch div {
  display: flex;
  justify-content: space-between;
}
.advancedSearch div:hover {
  cursor: pointer;
  color: #919191;
}
.advancedSearch div p {
  margin-right: 10px;
}
@media (min-width: 850px) and (max-width: 1200px) {
  .searchContainer {
    height: 200px;
  }
  .searchColumnOne {
    width: 55%;
  }
  .searchColumnOne h2 {
    padding: 10px;
  }
  .searchColumnOne p {
    font-size: 13px;
    padding-left: 10px;
    font-weight: bold;
  }
  .inputsContainer {
    width: 90%;
    padding: 0;
    margin: 20px 0;
  }
  .inputsContainer input {
    height: 30px;
    margin: 0 10px;
  }
  .searchButton {
    height: 32px;
    margin: 0 5px;
  }
  .searchColumnTwo p {
    font-size: 15px;
  }
}

@media (min-width: 320px) and (max-width: 680px) {
  .searchContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    font-size: 0.9rem;
    padding-bottom: 15px;
  }
  .searchBarContainer h2{
    text-align: center;
  }
  .searchColumnOne {
    width: 100%;
  }
  .searchColumnOne p{
    text-align: center;
  }
  .searchColumnTwo {
    width:80%;
  }
  .inputsContainer{
    justify-content: space-evenly;
  }
  .searchButton {
    height: 36px;
    width: 35px;
  }
  .inputsContainer input {
    width: 70%;
    height: 35px;
    margin: 0;
  }
 
}
