.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;
}

.gridButtonPokemon{
    height: 60px;
    width: 250px;
    font-size: 1.2rem;
    border-radius: 10px;
    background: var(--tipo-volador);
    color: #fff;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.gridButtonPokemon:hover{
    cursor: pointer;
    opacity: 0.8;
}