.footerContainer {
  color: #fff;
  background: #1f1f1f;
  font-family: "Roboto Flex", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContainerForm {
  width: 60%;
  margin-top: 40px;
}
.footerContainerInputForm {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.footerContainerInputForm input {
  height: 35px;
  border-radius: 8px;
  width: 30%;
}

.footerContainerInputForm input::placeholder {
  padding-left: 10px;
}

.footerContainerInputForm select {
  border-radius: 8px;
}
.footerContainerCheckbox {
  display: flex;
  margin: 20px 0;
}
.footerContainerCheckbox p {
  margin-left: 15px;
}

.footerFormSubmit {
  height: 60px;
  width: 150px;
  border-radius: 10px;
  background: #808080;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  border: 2px solid #fff;
}
.footerFormSubmit:hover {
  cursor: pointer;
}

.footerContainerContact {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  width: 60%;
  margin-bottom: 20px;
}
.columnInfo {
  width: 33%;
}
.containerLinks {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.containerLinks p {
  margin: 8px 0;
}

.containerLinks p:hover {
  cursor: pointer;
}

.containerSocial {
  width: 33%;
  border-left: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
}

.containerIcons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.facebookLogo {
  font-size: 35px;
  color: #0866ff;
  background: #fff;
  border-radius: 5px;
}

.youtubeLogo {
  font-size: 35px;
  color: #ff0000;
  background: #fff;
  border-radius: 5px;
}

.twitterLogo {
  font-size: 35px;
  color: #1d9bf0;
  background: #fff;
  border-radius: 5px;
}
.containerInfoPrivacity {
  width: 33%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.containerInfoPrivacity img {
  width: 150px;
  margin-left: 50px;
}

.containerInfoPrivacity p {
  margin-left: 50px;
}
.containerInfoPrivacity p:hover {
  cursor: pointer;
}

.containerInfoPrivacity div {
  font-size: 10px;
}

/*RESPONSIVE*/

@media (min-width: 280px) and (max-width: 650px) {
  .footerContainer h2{
    font-size: 15px;
  }
  .footerContainerForm {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footerContainerInputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130px;
    margin-top: 20px;
  }
  .footerContainerInputForm input,
  select {
    width: 75%;
    height: 30px;
  }

  .footerContainerCheckbox {
    width: 75%;
    align-self: center;
  }
  .formResponsive {
    display: flex;
    flex-direction: column;
  }

  .footerFormSubmit {
    align-self: center;
    height: 40px;
  }

  .footerContainerContact {
    width: 60%;
  }
  .columnInfo {
    display: none;
  }
  .containerSocial {
    width: 100%;
    border: none;
    margin-bottom: 20px;
  }
  .containerInfoPrivacity {
    display: none;
  }

}

@media (min-width: 650px) and (max-width: 1000px) {
  .footerContainerForm {
    width: 90%;
  }
  .footerFormSubmit{
    height: 50px;
    width: 120px;;
  }
  .footerContainerContact {
    width: 90%;
  }
}