*{
    margin:0;
    padding: 0;  
}

.containerRoot{
    background: #313131;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerWhite{
    width: 80%;
    background: #f2f2f2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 700px) and (max-width: 850px) {
    
    .containerWhite {
      width: 90%;
    }
  }
  
  @media (min-width: 280px) and (max-width: 700px) {
    .containerWhite {
        width: 100%;
      }
  }